.center-box {
  margin: 0 auto;
}

.center-txt {
  text-align: center;
}

.row {
  width: 100%;
}

.balance-control {
    width: 85%;
  }

.balance-box {
    width: 45%;
  }
  
  .transfer-box {
    width: 10%;
  }
  
  .disp-in-bl {
    display: inline-block;
  }
  
  .add-cursor {
    cursor: pointer;
  }
  
  .balance-box > .e-search:before {
    content:'\e309';
  }
  
  .e-search:before{
    content: '\e359';
  }
  
  .fix-bottom {
    position: fixed;
    left: 0;
    width: 100%;
  }
  
  .btn {
    padding: .3px 9px;
    margin: 3% 0;
    font-size: 1.4em;
    color: black;
    font-weight: 549; 
    box-shadow: 3px 3.5px black;
    border: 1px black solid;
  }
  
  .btn-default {
    background-color: white;
  }
  
  .btn-active {
    background-color: #91aaff;
  }
  
  .btn-disabled {
    opacity: .3;
    cursor: not-allowed;
    pointer-events: none;
  }
  
  .err-msg {
    color: red;
    font-weight: bold;
  }
  
  .balance-input {
    text-align: right;
    border: none;
    background-color: #ededed;
  }
  
  .input-desk {
    width: 6em;
    font-size: 1.7rem;
  }
  
  .input-mob {
    width: 5.5em;
    font-size: 1.3rem;
  }
  
  .slider-wrapper {
    width: 80%;
  }
  
  .slider-btn {
    background-color: black;
    color: white;
    border-radius: 50px;
    border: none;
  }

 /* .left-slider-btn-wrapper {
    padding-right: 10px;
    width: 10%;
  }

  .right-slider-btn-wrapper {
    padding-left: 10px;
    width: 10%;
  }  */

  .slider-btn-wrapper {
    /* padding-left: 10px; */
    vertical-align: 15px;
    width: 10%;
  }
  
  .slider-btn-left {
    /* padding: 4px 4.5px 2px 3.5px; */
  }
  
  .slider-btn-right {
    /* padding: 4px 3.5px 1px 3.5px; */
  }
  
  .slider-btn-left > .e-search:before {
    content:'\e921';
  }
  
  .slider-btn-right > .e-search:before {
    content:'\e956';
  }
  
  .e-slider-track {
    background: black !important;
  }
  
  .e-control.e-slider .e-handle {
    height: 25px;
    width: 8px;
    top: 4px;
    border-radius: 15px;
    background-color: black;
  }

  .e-control-wrapper.e-slider-container.e-horizontal {
    width: 100%;
    /* margin-left: 10px; */
  }
  