<header [ngStyle]="isDesktop ? {'margin': '25px 0'} : {'margin': '15px 0'}" class="center-txt">
    <h1 [style.margin-bottom.px]="isDesktop ? '25' : '15'" [style.font-size.px]="isDesktop ? '35' : '25'">{{title}}</h1>
    <section [style.font-size.px]="isDesktop ? '25' : '20'">
        This game requires a dedicated balance.
        Please transfer money from main balance
        and once and once ready click Lanunch Game below.
    </section>
</header>
<main [style.font-size.px]="isDesktop ? '25' : '20'" style="position: relative">
    <form class="row" #f="ngForm" novalidate>
        <div [style.width.%]="isDesktop ? '85' : '95'" class="center-box">

            <div class="balance-box center-txt disp-in-bl">
                <span (click)="genRandBal()" class="e-icons e-search add-cursor">&nbsp;&nbsp;&nbsp;</span>
                <label for="mainBalInput">Main Balance</label>
                <div class="">
                    <input class="balance-input row" id="mainBalInput" [disabled]="isNoFunds" [(ngModel)]="data.mainBalance"
                        [ngClass]="isDesktop ? 'input-desk' : 'input-mob'" name="mainBalance" OnlyNumber="true" type="text">
                </div>
            </div>

            <div class="transfer-box center-txt disp-in-bl e-icons e-search"></div>

            <div class="balance-box center-txt disp-in-bl">
                <span (click)="genRandBal()" class="e-icons e-search add-cursor">&nbsp;&nbsp;&nbsp;</span>
                <label for="gameBalInput">Game Balance</label>
                <div class="balance-input-box">
                    <input class="balance-input row" id="gameBalInput" [disabled]="isNoFunds" [(ngModel)]="data.gameBalance"
                        [ngClass]="isDesktop ? 'input-desk' : 'input-mob'" name="gameBalance" OnlyNumber="true" type="text">
                </div>
            </div>

            <div class="center-txt center-box row">
                <div class="slider-btn-wrapper disp-in-bl">
                    <button (click)="moveAllToMainBalance()" role="button" [disabled]="isDisableLeftSliderBtn()"
                        [class.btn-disabled]="isDisableLeftSliderBtn()" class="slider-btn slider-btn-left add-cursor">
                        <span class="e-icons e-search"></span>
                    </button>
                </div>
                <div class="slider-wrapper disp-in-bl">
                    <ejs-slider class="" [enabled]="!isNoFunds" [(value)]="sliderVal" name="sliderVal" id="slider"
                        [min]="0" [max]="maxVal" (change)="onSliderChange($event)"></ejs-slider>
                </div>
                <div class="slider-btn-wrapper disp-in-bl">
                    <button (click)="moveAllToGameBalance()" role="button" [disabled]="isDisableRightSliderBtn()"
                        [class.btn-disabled]="isDisableRightSliderBtn()" class="slider-btn slider-btn-right add-cursor">
                        <span class="e-icons e-search"></span>
                    </button>
                </div>
            </div>

            <div class="center-txt">
                <button type="button" [ngClass]="(isNoGameBalance || isNoFunds) ? 'btn-default btn-disabled' : 'btn-active add-cursor'"
                    (click)="gameLaunch()" [disabled]="isNoGameBalance" class="btn">Launch Game</button>
            </div>
            <hr *ngIf="!isNoFunds">

            <ng-container *ngIf="isNoFunds; then disabled; else enabled"></ng-container>

            <ng-template #disabled>
                <div [style.bottom.%]="isDesktop ? '10' : '3'" class="fix-bottom center-txt">
                    <article class="err-msg center-txt">
                        Oops, it seems you have no funds
                        available to play with. Press the
                        button below to visit our Cashier
                    </article>
                    <button type="button" class="btn btn-active add-cursor" (click)="gameDeposit()">Deposit</button>
                </div>
            </ng-template>

            <ng-template #enabled>
                <div style="bottom: 5%" class="fix-bottom center-txt">
                    <article class="center-txt">
                        You can also transfer funds without
                        launching the game, e.g. wins or remaining
                        funds back to your main balance
                    </article>
                    <button type="button" class="btn btn-default" [ngClass]="isNoGameBalance ? 'btn-disabled' : 'add-cursor'"
                        (click)="gameTransferFunds()" [disabled]="(isNoGameBalance || isNoFunds)">Transfer Funds</button>
                </div>
            </ng-template>
        </div>

    </form>
</main>